fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
python-multipart
aiofiles
google-genai
langchain
langchain-community
langchain-chroma
langchain-google-genai
langchain-text-splitters
chromadb
